body {
    background-color: rgb(45, 45, 45);
}

* {
    box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

#title-bar {
    position: sticky;
    margin: 0;
    padding: 0;
    border: 0;
    top: 10px;
    width: 100%;
    height: 80px;
    background-color: rgb(88, 88, 88);
    vertical-align: baseline;
    display: flex;
    box-shadow: 0 0 8px rgb(22, 22, 22);
}

#title-bar-title {
    position: sticky;
    margin: 0;
    padding-left: 20%;
    border: 0;
    align-items: center;
    display: flex;
}

#title-bar-btns {
    position: absolute;
    margin: 0;
    top: 20px;
    right: 0;
    padding-right: 45%;
    border: 0;
    align-items: center;
    display: flex;
}

#version-btns {
    position: absolute;
    margin: 0;
    top: 20px;
    right: 0;
    padding-right: 20%;
    border: 0;
    align-items: center;
    display: flex;
}

#banner {
    background-color: #181516;
}

#introduction {
    display: block;
    height: 600px;
}

#features {
    display: block;
    height: 400px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

.banner-text {
    background: none;
    border: none;
    margin: 0;
    padding: .5rem 0rem 0rem 1.25rem;
    -webkit-user-select: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    font-family: neue-haas-grotesk-display,sans-serif;
    text-shadow: 1px 1px 2px rgb(49, 49, 49);
}

.bg-secondary {
    background-color: rgb(88, 88, 88);
}

.bg-light {
    background-color: rgb(211, 211, 211);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
    vertical-align: baseline;
}

.justify-content {
    justify-content: space-around !important;
}

@media (min-width: 700px){
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        align-items: center;
        text-align: center;
        display: flex;
    }
}

h1.main-title {
    -webkit-user-select: none;
    color: rgb(207, 54, 54);
    text-decoration: 3px underline solid white;
    font-size: 50px;
    font-weight: 900;
    font-family: neue-haas-grotesk-display,sans-serif;
    text-shadow: 0.5px 0.5px 2px rgb(133, 33, 33);
}

h1.mt2 {
    color: white;
    text-shadow: 0.5px 0.5px 2px rgb(148, 148, 148);
}

h2.feature-title {
    font-family: "Bebas Neue","Impact",sans-serif;
    font-weight: 400;
    color: rgb(207, 54, 54);
    font-size: 1.75rem;
}

button.top-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: .5rem 0rem 0rem 1.25rem;
    -webkit-user-select: none;
    color: rgb(161, 160, 160);
    font-size: 20px;
    font-weight: 700;
    font-family: neue-haas-grotesk-display,sans-serif;
    text-shadow: 1px 1px 2px rgb(49, 49, 49);
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

button.rounded-sm {
    border-radius: .2rem !important;
}

button.btn-darker {
    color: white;
    text-align: center;
    font-weight: 700;
    background-color: #231F20;
    border-color: #231F20;
    padding: .50rem !important;
}

button.btn-primary {
    color: white;
    text-align: center;
    font-weight: 700;
    background-color: rgb(207, 54, 54);
    border-color: rgb(133, 33, 33);
    padding: .50rem !important;
}

/* for when buttons are being hovered over */

button.top-btn:hover {
    cursor: pointer;
    color: rgb(145, 145, 145);
}

button.btn-darker:hover {
    color: white;
    cursor: pointer;
    background-color: #181415;
    background-color: #181415;
}

button.btn-primary:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(190, 54, 54);
    border-color: rgb(133, 33, 33);
}